@import "tailwindcss";
@plugin "daisyui"{
  prefix: "dui-";
}
@plugin "daisyui/theme" {
  name: "light";
  color-scheme: light;

  /* Base */
  --color-base-100: #FFF8E7;        /* Page background */
  --color-base-200: #FFF1CC;        /* Slightly elevated surface */
  --color-base-300: #F5E4B8;        /* More elevated (cards) */
  --color-base-content: #1E293B;    /* Main text */

  /* Brand */
  --color-primary: #D4AF37;         
  --color-primary-content: #0F172A; 
  --color-secondary: #1E3A8A;       
  --color-secondary-content: #FFFFFF;
  --color-accent: #A67C00;          
  --color-accent-content: #FFFFFF;
  --color-neutral: #1E293B;         
  --color-neutral-content: #E2E8F0; 

  /* States */
  --color-info: #3B82F6;
  --color-info-content: #FFFFFF;
  --color-success: #10B981;         
  --color-success-content: #FFFFFF;
  --color-warning: #F59E0B;
  --color-warning-content: #FFFFFF;
  --color-error: #EF4444;           
  --color-error-content: #FFFFFF;

  /* Border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Effects */
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark; /* color of browser-provided UI */

  /* Base */
  --color-base-100: #241B0C;        /* Background */
  --color-base-200: #2F2515;        /* Background secondary */
  --color-base-300: #3A3020;        /* Surface */
  --color-base-content: #F8F5ED;    /* Text primary */

  /* Brand */
  --color-primary: #D4AF37;
  --color-primary-content: #1A1408;
  --color-secondary: #1E3A8A;
  --color-secondary-content: #1A1408;
  --color-accent: #A67C00;
  --color-accent-content: #F0C040;
  --color-neutral: #D4A017;
  --color-neutral-content: #1A1408;

  /* States */
  --color-info: #3B82F6;
  --color-info-content: #FFFFFF;
  --color-success: #66BB6A;
  --color-success-content: #1A1408;
  --color-warning: #F59E0B;
  --color-warning-content: #1A1408;
  --color-error: #FF6B6B;
  --color-error-content: #1A1408;

  /* Border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Effects */
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --color-primary-hover: #B8860B;

  --color-border: #E6C35C;

  --color-text-secondary: #6B4F1A;

  --color-chart-bullish: #4CAF50;
  --color-chart-bearish: #C62828;
}

:root[data-theme="dark"] {
  --color-primary-hover: #D4A017;

  --color-border: #8B6914;

  --color-text-secondary: #D4A017;

  --color-chart-bullish: #4CAF50;
  --color-chart-bearish: #EF5350;
}

@font-face {
    font-family: "vazir";
    src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
   font-family: "vazir", sans-serif;
}

/* Hide number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
